
node_modules/
dist/
.vscode/
logs/
coverage/

.env
.env.*
.eslintrc*
.eslintignore
.editorconfig
.prettierrc*
.huskyrc
.lintstagedrc*
jest.config.js

Dockerfile
docker-compose.yml


.DS_Store
Thumbs.db
npm-debug.log*
yarn-error.log*
